.menu-bar {
  background: white;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  justify-content: flex-start;

  > button {
    align-self: flex-start;
    width: 56px;
    height: 56px;
    background-color: white;
    border: white solid 1px;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 1.6rem;
    font-weight: bold;
  }

  > button:hover {
    background: linear-gradient(to right,#ff8a00,#da1b60);
    //box-shadow: 1px 1px 6px 1px #888;
    transition-duration: 500ms;
  }


  .tags-panel {

    .tags-panel-addition-form {
      display: flex;
      flex-direction: row;
      margin-bottom: 8px;
      background: #dfdfe5;
      padding: 8px;
      border-radius: 8px;

      > input {
        flex-grow: 1;
        margin-right: 8px;
        border: none;
        background: #f1f1f7;
        padding: 4px;
      }
    }

    .tags-panel-tag {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px;
      border-radius: 8px;
      margin: 4px 0;

      font-size: 1.4rem;

      .tags-panel-tag-name {
        width: 100%;
        justify-self: flex-start;
        padding: 8px 16px;
      }

      > svg {
        cursor: pointer;
        margin: 4px;
      }

      > div {
        cursor: pointer;
      }

    }
  }
}

.tags-panel-tag:hover {
  background: linear-gradient(to right,#ff8a00,#da1b60);
}
