.menu-bar {
  background: #c7444a;
  width: 300px;
  height: 100%;
  padding: 16px 32px;
  border-right: black solid;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  justify-content: flex-start;
}
