.menu-bar {
  background: white;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  justify-content: flex-start;
  border-right: 1px solid #dcdcdc;

  > button {
    align-self: flex-start;
    margin-bottom: 16px;
  }
}
