.notes-panel {
  background: white;
  overflow-y: auto;
  width: 100%;
  min-height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  justify-items: flex-start;
}
