.login-page {
   background: #e7edab;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;

   .root {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

