.notes-creating-form {
  background: #fffdfc;
  border-radius: 8px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;

  .input-group {
    margin: 12px 0;
    display: flex;
    flex-direction: column;

    .form-label {
      margin-bottom: 4px;
    }

    > input {
      width: 100%;
    }
  }

  .button-group {
    width: 100%;
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .create-note-button {
    }

    .cancel-note-button {
    }
  }

}
