.register-page {
   background: #ffffff;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;

   .register-page-root {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 700ms;
   }

   .fade-in-appear {
      background: #161616;
      opacity: 0;
   }
}

