.notes-creation-item {
  background: white;
  border: gainsboro solid 1px;
  border-radius: 8px;
  width: 80%;
  min-height: 32px;
  display: flex;
  justify-content: center;
  align-content: center;

  > button {
    border: white solid 1px;
    border-radius: 8px;
  }
}
