.notes-creation-item {
  background: white;
  border: gainsboro solid 1px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-shrink: 0;
  min-width: 400px;
  min-height: 56px;
  font-size: 1.7rem;

  > button {
    width: 100%;
    border: white solid 1px;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: bold;
    transition-duration: 500ms;
  }
}
