.header-bar {
  background: white;
  border-bottom: gainsboro solid 1px;
  box-shadow: gainsboro 0 0 8px 1px;
  z-index: 100;
  width: 100%;
  padding: 16px 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .login-button, .register-button, .logout-button {
    font-size: 16px;
    color: #5e5e66;
    margin-right: 8px;
    background-color: white;
    border-color: white;
  }

  .header-bar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    > span {
      font-size: 28px;
      font-weight: lighter;
      color: #5e5e66;
    }
  }

  .header-bar-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .header-bar-username {
      margin-left: 32px;
      margin-right: 16px;
      cursor: default;

      > span {
        font-size: 16px;
        color: #5e5e66;
      }
    }

  }
}