.header-bar {
  background: #777777;
  border-bottom: gainsboro solid 1px;
  width: 100%;
  padding: 8px 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .header-bar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    > span {
      font-size: 24px;
      color: #e4e9e2;
    }
  }

  .header-bar-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .header-bar-username{
      margin-left: 8px;

      > span {
        font-size: 24px;
        color: #e4e9e2;
      }
    }

  }
}